* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Lemon', serif;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

body p {
    color: #bcbcbc;
}

body a {
    text-decoration: none;
    color: #bcbcbc;
}

.logo img {
    width: 100%;
}

.icon i {
    font-size: 30px;
}

ul> button {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    width: 160px;
    height: 50px;
}


ul> button:hover {
    color: red;
    transition: 1s ease;
    background-color: white;
}

.bg-red {
    background-color: red;
    border: none;
}

ul li:hover {
    color: red;
    cursor: pointer;
    transition: 1s ease;
}

.header-main img {
    width: 100%;
}

ul> button> i {
    background-color: #ffffff;
    padding: 6px;
    color: #000000;
    border-radius: 20px;
}

.text-change {
    font-family: 'Lemon', serif;
    font-size: 40px;
    font-weight: bold;
}

.images img {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.islamabd img {
    width: 100%;
    margin-bottom: 100px;
}

.red-font {
    letter-spacing: 10px;
    color: red;
    font-weight: bold;
}

.lahore img {
    width: 100%;
    height: 300px;
}

.transparent {
    background: transparent;
}

.box-white {
    width: 320px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
}

.footer-images img {
    width: 230px;
    margin: 5px;
    margin-bottom: 80px;
}

.text-grey {
    font-size: 14px;
}

.icon-footer i {
    font-size: 40px;
    margin: 5px;
}

.icon-footer i:hover {
    color: red;
    transition: .5s ease;
}



















