* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Lemon', serif;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
}

.icon i {
    font-size: 30px;
}

ul> button {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}

